#signUpForm {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #signUpForm input {
      display: block;
      width: 50%;
      padding: 10px;
    }