#profile h1, #profile h2, #profile h3 {
    text-align: center;
    color: rgb(45, 44, 44)
}

#profile h1 {
    font-size: 50px;
}

#profile h2 {
    margin: 10px;
}

#profile h3 {
    margin: 0;
}

#profile {
    margin-bottom: 30px;
}