#posts-header {
    text-align: center;
    color: rgb(45, 44, 44);
    margin-bottom: 30px;

}

#postForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#post {
    margin:auto;
    width: 70%;
}

input[type="submit"] {
    width: 70%;
    padding: 0;
    margin: 3px 0 0 0;
}

#feed {
    margin: auto;
    width: 70%;
    display: grid;
    grid-gap: 10px;
}